<link rel='stylesheet' href='$baseurl$/wp-content/plugins/wovaxapp/css/iphone.css'>
<link rel='stylesheet' href='$baseurl$/wp-content/plugins/wovaxapp/css/couraselcss.css' />

<script src='http://code.jquery.com/jquery-1.9.0.min.js'></script>
<script src='$baseurl$/wp-content/plugins/wovaxapp/js/jquery.touchcarousel-1.1.min.js'></script>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
<base href='$baseurl$'>

<body class='postid-$post_id$'>

<div class='entry-header'>
<h1 class='entry-title'>$title$</h1>
</div>

<img class='post-thumbnail' src='$image$'>
<div id='get_post_gallery' class='post_gallery'>
</div>

<div class='entry-content'>$content$
</div>
</div>

<div id='commentsContainer' style='background-color: #f2f2f2;'><div style='font-family:HelveticaNeue-Light;font-size:15px;'>
<div id='commentAll'>

</body>

<script> function reloadComment(){ $('#commentAll').load('$baseurl$/?wovaxmenu=comment&id=$post_id$', function() { $('html, body').animate({ scrollTop: $(document).height() } , 1000); }); } function getJson() { $('#commentAll').load('$baseurl$/?wovaxmenu=comment&id=$post_id$'); } getJson(); </script>
